In [4]:
import pandas as pd

In [5]:
import os
os.chdir('/home/tapas/data/')
os.listdir(".")

['2017.csv', '.~lock.Dataset.csv#', 'kmeans1.xlsx', 'Dataset.csv']

In [7]:
df = pd.read_excel('kmeans1.xlsx')
df.head()

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
1,2,ASPEN,1,24.000000,30.000000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
2,3,IE33,4,210.000000,262.500000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
3,4,BVI 9400,9,54.666667,68.333333,1,0.0,2.0,150.0,REHAB CENTER
4,5,BVI 9400,1,102.000000,127.500000,0,0.0,2.0,150.0,REHAB CENTER

In [8]:
df1 = df.drop(["ID Tag", "Model", "Department"], axis = 1)
df1.head()

,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost
0,10,43.333333,54.166667,0,0.0,2.0,150.0
1,1,24.000000,30.000000,0,0.0,2.0,150.0
2,4,210.000000,262.500000,0,0.0,2.0,150.0
3,9,54.666667,68.333333,1,0.0,2.0,150.0
4,1,102.000000,127.500000,0,0.0,2.0,150.0

In [9]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=4, init='k-means++', n_init=10)

In [10]:
km.fit(df1)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [11]:
x = km.fit_predict(df1)
x

array([0, 0, 3, 0, 3, 3, 2, 3, 0, 3, 3, 3, 0, 3, 2, 0, 3, 0, 3, 0, 0, 0,
       3, 0, 0, 3, 2, 3, 3, 2, 3, 0, 3, 3, 3, 2, 3, 0, 3, 0, 3, 3, 3, 0,
       3, 0, 3, 3, 0, 3, 0, 3, 3, 0, 3, 2, 0, 0, 3, 3, 3, 3, 0, 0, 3, 0,
       3, 3, 3, 0, 0, 0, 3, 3, 3, 0, 3, 3, 2, 3, 0, 0, 0, 3, 0, 0, 3, 3,
       3, 0, 3, 0, 0, 0, 0, 0, 3, 1, 0, 0, 2, 3, 0, 3, 3, 3, 0, 0, 0, 3,
       3, 0, 3, 3, 2, 3, 0, 0, 0, 3, 3, 3, 3, 0, 2, 3, 0, 3, 3, 0, 3, 0,
       3, 0, 0, 0, 0, 0, 3, 0, 3, 3, 0, 3, 3, 0, 0, 0, 3, 3, 0, 3, 0, 0,
       3, 3, 3, 3, 3, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 3, 0, 3, 0, 0, 0, 0, 3, 3, 3, 3, 0, 3, 0, 0, 0, 0, 0, 3],
      dtype=int32)

In [12]:
df["Cluster"]= x
df.head()

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department,Cluster
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,0
1,2,ASPEN,1,24.000000,30.000000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,0
2,3,IE33,4,210.000000,262.500000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,3
3,4,BVI 9400,9,54.666667,68.333333,1,0.0,2.0,150.0,REHAB CENTER,0
4,5,BVI 9400,1,102.000000,127.500000,0,0.0,2.0,150.0,REHAB CENTER,3

In [15]:
df1 = df.sort_values(['Cluster'])
df1

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department,Cluster
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,0
123,124,Z.ONE ULTRA,6,66.000000,82.500000,0,0.000000,1.000000,75.000000,CARDIAC NON-INVASIVE,0
126,127,IE33,16,81.000000,101.250000,0,0.000000,1.562500,117.187500,CARDIAC NON-INVASIVE,0
65,66,HD15,4,67.500000,84.375000,0,0.000000,2.000000,150.000000,EKG,0
129,130,IU22,7,78.857143,98.571429,0,0.000000,1.000000,75.000000,VASCULAR LABORATORY,0
63,64,M-TURBO,2,60.000000,75.000000,0,0.000000,2.000000,150.000000,ER,0
62,63,ACUSON S2000,16,85.600000,107.000000,0,0.000000,2.000000,150.000000,BREAST CENTER,0
131,132,S-CATH,1,90.000000,112.500000,0,0.000000,1.000000,75.000000,CATH LAB,0
133,134,X300,7,79.714286,99.642857,0,0.000000,1.000000,75.000000,CARDIAC ELECTROPHYSIOLOGY,0
134,135,LOGIQ E9,5,97.200000,121.500000,0,0.000000,1.000000,75.000000,RADIOLOGY - MAMMOGRAPHY,0
135,136,S NERVE,2,45.000000,56.250000,0,0.000000,1.000000,75.000000,ANESTHESIA,0
57,58,IE33,1,0.000000,0.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,0
56,57,X300,1,6.000000,7.500000,0,0.000000,2.000000,150.000000,CARD ASSOC,0
136,137,S NERVE,2,60.000000,75.000000,0,0.000000,1.000000,75.000000,ANESTHESIA,0
137,138,S NERVE,2,45.000000,56.250000,0,0.000000,1.000000,75.000000,ANESTHESIA,0
53,54,IE33,1,60.000000,75.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,0
139,140,IE33,2,75.000000,93.750000,0,0.000000,1.000000,75.000000,ANESTHESIA,0
142,143,INVENIA ABUS,1,90.000000,112.500000,0,0.000000,1.000000,75.000000,RADIOLOGY - MAMMOGRAPHY,0
50,51,HD11XE,1,6.000000,7.500000,0,0.000000,2.000000,150.000000,ADVANCED CARDIOLOGY,0
145,146,FLEX FOCUS 800,1,60.000000,75.000000,0,0.000000,1.000000,75.000000,OPERATING ROOM,0
118,119,BVI 9400,1,18.000000,22.500000,0,0.000000,1.000000,75.000000,CLINICAL ENGINEERING DEPT,0
69,70,EDGE,1,60.000000,75.000000,0,0.000000,1.000000,75.000000,INTENSIVE CARE UNIT,0
70,71,S-ICU,1,36.000000,45.000000,0,0.000000,1.000000,75.000000,PEDIATRIC INTENSIVE CARE,0
71,72,2270969,8,79.500000,99.375000,0,0.000000,1.000000,75.000000,LABOR AND DELIVERY,0
91,92,M-TURBO,7,95.142857,118.928571,0,0.000000,1.000000,75.000000,EMERGENCY DEPARTMENT,0
94,95,LOGIQ S6,40,75.600000,94.500000,0,0.000000,1.000000,75.000000,RADIOLOGY - MAMMOGRAPHY,0
89,90,S SERIES,4,48.000000,60.000000,0,8.125000,1.000000,75.000000,CLINIC - AMBULATORY SERV,0
95,96,LOGIQ P6,22,69.545455,86.931818,0,0.000000,1.000000,75.000000,RADIOLOGY - MAMMOGRAPHY,0
194,195,FLEX FOCUS 500,1,90.000000,112.500000,0,0.000000,0.000000,0.000000,ENDOSCOPY,0
98,99,S SERIES,10,100.800000,126.000000,0,0.000000,1.000000,75.000000,ANESTHESIA,0
...,...,...,...,...,...,...,...,...,...,...,...
86,87,SEQUOIA 512,39,110.769231,138.461538,2,54.974359,1.179487,88.461538,PEDIATRIC CARDIOLOGY,3
87,88,LOGIQ E9,52,112.269231,140.336538,0,18.615385,1.000000,75.000000,ULTRASOUND,3
96,97,HI VISION 900,9,106.666667,133.333333,0,0.000000,1.000000,75.000000,ENDOSCOPY SUITE,3
77,78,VIVID 7,80,104.700000,130.875000,4,46.976625,1.000000,75.000000,PEDIATRIC CARDIOLOGY,3
120,121,IE33,67,118.208955,147.761194,3,9.507463,1.000000,75.000000,CARDIAC NON-INVASIVE,3
121,122,IE33,70,124.285714,155.357143,3,163.085714,1.000000,75.000000,CARDIAC NON-INVASIVE,3
122,123,IE33,19,116.842105,146.052632,0,2.434737,1.000000,75.000000,CARDIAC NON-INVASIVE,3
90,91,SSA-550A-2,10,123.000000,153.750000,0,0.000000,1.000000,75.000000,EMERGENCY DEPARTMENT,3
144,145,EPIQ 7C,7,182.571429,228.214286,0,0.000000,1.000000,75.000000,CARDIAC NON-INVASIVE,3
143,144,VENUE 50,5,126.000000,157.500000,0,0.000000,1.000000,75.000000,X-RAY SPECIAL PROCEDURES,3
51,52,IE33,3,124.000000,155.000000,0,66.666667,2.000000,150.000000,CARDIOVASCULAR IMAGING,3
141,142,BK3000,1,120.000000,150.000000,0,0.000000,1.000000,75.000000,EMERGENCY DEPARTMENT,3
140,141,SENSILASE PAD-IQ,1,120.000000,150.000000,0,0.000000,1.000000,75.000000,VASCULAR LABORATORY,3
52,53,IE33,3,188.000000,235.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,3
138,139,CORE MOBILE,2,105.000000,131.250000,0,0.000000,1.000000,75.000000,OPERATING ROOM,3
54,55,IE33,3,180.000000,225.000000,0,0.000000,2.000000,150.000000,MEDICAL INST,3
58,59,VIVID E9,2,255.000000,318.750000,0,0.000000,2.000000,150.000000,CARDIAC IMAGING,3
59,60,LOGIQ S8,23,129.130435,161.413043,0,0.000000,2.000000,150.000000,ULTRASOUND,3
60,61,ANTARES 5936518,25,127.200000,159.000000,0,0.000000,2.000000,150.000000,ULTRASOUND,3
132,133,LOGIQ E9,15,110.000000,137.500000,0,0.000000,1.000000,75.000000,ULTRASOUND,3
61,62,ANTARES 5936518,15,142.000000,177.500000,0,0.000000,2.000000,150.000000,ULTRASOUND,3
130,131,EUB-5500,11,103.636364,129.545455,0,0.000000,1.000000,75.000000,ENDOSCOPY SUITE,3
64,65,IE33,11,94.909091,118.636364,0,0.000000,2.000000,150.000000,EKG,3
128,129,IE33,10,108.000000,135.000000,0,0.000000,1.300000,97.500000,CARDIAC NON-INVASIVE,3
127,128,IE33,17,111.882353,139.852941,1,0.000000,1.529412,114.705882,CARDIAC NON-INVASIVE,3
66,67,LOGIQ E,5,115.200000,144.000000,0,0.000000,2.000000,150.000000,OPERATING ROOM,3
125,126,IE33,17,98.470588,123.088235,0,0.000000,1.588235,119.117647,CARDIAC NON-INVASIVE,3
67,68,LOGIQ E9,3,110.000000,137.500000,0,0.000000,2.000000,150.000000,BREAST CENTER,3
46,47,VOLUSON E8 EXPERT,8,97.500000,121.875000,0,0.000000,2.000000,150.000000,Maternal Fetal Medicine,3
195,196,EPIQ 7C,4,288.000000,360.000000,0,0.000000,0.000000,0.000000,PEDIATRIC CARDIOLOGY,3